*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 10px;
}
p{
    grid-column: 2;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    grid-column: 2;
}
form *{
    margin: 10px 0px;
    padding: 10px;
}
a{
    grid-column: 2;
    text-align: center;
}